body {
  font-family: Arial, sans-serif;
}

.header, .footer {
  text-align: center;
  padding: 10px;
}

.App {
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.forms-section, .results-section {
  flex: 1;
  padding: 20px;
}

.error-message, .suggestion-message {
  color: red;
  margin-top: 10px;
}

.light-mode {
  background-color: #ffffff;
  color: #0078D4;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #00a4ef;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0078D4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005a9e;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}
