@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  max-width: 90%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #54b4f3;
  font-family: Roboto;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

.header {
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: #fff;
}

.header h1 {
  margin: 0;
  font-family: Roboto;
  flex: 1;
  text-align: center;
}

.information {
  color: #000;
  padding: 20px 0;
  text-align: center;
  font-style: italic;
  background-color: #f4f4f4;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.dark-mode-button {
  position: absolute;
  top: 20px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.light-mode .dark-mode-button {
  color: #f39c12;
  background-color: #616161;
}

.dark-mode .dark-mode-button {
  color: #3498db;
  background-color: #616161;
}

.dark-mode-button:hover {
  background-color: rgba(0,0,0,0.1);
}

.dark-mode-button:focus {
  outline: none;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.forms-section, .results-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.subnet-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
}

.results-section {
  border-left: 1px solid #e0e0e0;
  align-items: left;
}

.export-buttons {
  display: flex;
  justify-content: right;
}

.error-message, .suggestion-message {
  color: #e74c3c;
  margin-top: 10px;
  font-weight: bold;
}

.warning-message {
  color: #f39c12;
  margin-top: 10px;
  font-weight: bold;
}

.light-mode {
  background-color: #ffffff;
  color: #0078D4;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #00a4ef;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0078D4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005a9e;
}

button:not(:last-child) {
  margin-right: 10px;
}

.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.round-button:hover {
  background-color: #0056b3;
}

.round-button:active {
  background-color: #003d80;
}

.round-button:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #e0e0e0;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

@media (max-width: 868px) {
  .main-content {
    flex-direction: column;
  }

  .results-section, .results-section {
    border-left: none;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
  }

  .subnet-container {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 22px;
  }

  .forms-section{
    font-size: 20px;
  }

  .information {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  .forms-section, .results-section {
    font-size: 14px;
  }

  .information {
    font-size: 12px;
    padding: 6px;
  }

  .footer {
    font-size: 14px;
  }

  .dark-mode-button {
    font-size: 20px;
  }
}